body {
    margin: 0;
    padding: 0;
    color: #372654;
    background:
        radial-gradient(circle at top, #ffffff 0%, #f1edf8 42%, #f7f5fa 100%);
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
